.card-Single_Category_Card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        box-shadow: 2px 3px 7px 0px black;
        border: 1px solid black;
}

.card_img-Single_Category_Card {
    width: 100%;
    height: 30vh;
    object-fit: contain;
}

.card_body-Single_Category_Card{
   text-align: center;
   min-height: 175px;
}
.button-Single_Category_Card{
        position: absolute;
        left: 30%;
        bottom: 5px;
}
.icon_arrow-Single_Category_Card{ 
position: relative;
   top: 6px;
}
.link-Single_Category_Card{
        color: white;
        text-decoration: none;
}
@media(max-width: 440px){
 .card_img-Single_Category_Card {
    height: 50vw;
    object-fit: fill;
 }   
}